@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: spacing.$spacing-05;

  h4 {
    @include type.type-style('heading-compact-02');
  }
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: spacing.$spacing-03;
}
