@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.header {
  @include type.type-style('body-compact-02');
  color: $text-02;
  height: layout.$spacing-12;
  background-color: $ui-02;
  border-bottom: 1px solid $ui-03;
  display: flex;
  justify-content: space-between;
  padding: layout.$spacing-05;
}

.left-justified-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  align-items: center;
}

.right-justified-items {
  @include type.type-style('body-compact-02');
  color: $text-02;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-name {
  @include type.type-style('heading-04');
}

.page-labels {
  margin: layout.$spacing-05;

  p:first-of-type {
    margin-bottom: layout.$spacing-02;
  }
}

.date-and-location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userContainer {
  display: flex;
  justify-content: flex-end;
  gap: layout.$spacing-05;
}

.value {
  margin-left: layout.$spacing-02;
}

.middot {
  margin: 0 layout.$spacing-03;
}

.view {
  @include type.type-style('label-01');
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .date-and-location {
    & > svg {
      order: -1;
    }
    & > span:nth-child(2) {
      order: -2;
    }
  }
}

.userIcon {
  fill: $ui-05;
  margin: layout.$spacing-01;
}