@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  border: 1px solid $ui-03;
  border-bottom: none;
  background-color: $ui-01;
}

.tableContainer {
  width: 100%;
}

.tableHeader {
  @include type.type-style('heading-compact-01');
  color: $text-02;
}

.filterEmptyState {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: layout.$spacing-09 !important;
  text-align: center;
}

.filterEmptyStateTile {
  margin: auto;
}

.filterEmptyStateContent {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: layout.$spacing-03;
}

.filterEmptyStateHelper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.searchbox {
  padding: layout.$spacing-03 layout.$spacing-05;
  
  input:focus {
    outline: 2px solid colors.$orange-40 !important;
  }
}

.invoiceTable {
  width: 100%;
  border-collapse: collapse;
}

.clickableRow {
  cursor: pointer;
  &:hover {
    background-color: #e5e5e5;
  }
}

.errorContainer {
  padding: layout.$spacing-05;
}
