@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.card {
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    flex: 1 1 calc(33% - 1rem);
  }
  
  .title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    background-color: colors.$teal-60;
    color: colors.$white;           /* Set the text color to white for contrast */
    padding: 0.5rem;        /* Add padding to the title for spacing */
    border-radius: 5px;     /* Optional: rounded corners for a cleaner look */
  }
  
  .details {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .details li {
    margin-bottom: 0.25rem;
  }
  
  .label {
    font-weight: bold;
    color: #161616;
  }
  