@use '@carbon/styles/scss/spacing';

.tableContainer {
  margin: spacing.$spacing-05 0;
  width: 100%;
  overflow-x: auto;
}

.totalRow {
  background-color: #e0e0e0 !important;
  font-weight: bold;
}
