@use '@carbon/layout';
@use '@carbon/type';

.container {
  margin-top: layout.$spacing-09;

  > * + * {
    margin-top: layout.$spacing-06;
  }
}

.tile {
  border: 1px solid lightgray;
  max-width: 20rem;
  @include type.type-style('heading-compact-01');
}
