@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

.container {
  margin-top: spacing.$spacing-09;

  > * + * {
    margin-top: spacing.$spacing-06;
  }
}

.tile {
  border: 1px solid lightgray;
  max-width: 20rem;
  @include type.type-style('heading-compact-01');
}
