@use '@carbon/type';
@use '@carbon/colors';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as vars;

.widgetCard {
  border: 1px solid colors.$gray-20;
}

.row {
  span {
    margin: auto;
  }

  p {
    padding: layout.$spacing-02 0;
  }
}

.tile {
  text-align: center;
  border-bottom: 1px solid vars.$ui-03;

  .message {
    @include type.type-style('heading-compact-01');
    color: vars.$text-02;
  }
}

.table {
  td {
    &::after {
      display: none;
    }
  }
}

.hiddenRow {
  display: none;
}

.layer {
  height: 100%;
}

.unknownOrderTypeText {
  @include type.type-style('body-compact-01');
}

.paginationContainer {
  margin-top: auto;

  > div {
    border-top: none !important;
  }
}

.toolBarContent {
  background-color: colors.$gray-10;
}

.content {
  @include type.type-style('heading-compact-02');
  color: colors.$gray-70;
  margin-bottom: layout.$spacing-03;
}

.tileContainer {
  background-color: colors.$white-0;
  border-top: 1px solid colors.$gray-70;
  padding: layout.$spacing-11 0;
}

.emptyStateTile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helperText {
  @include type.type-style('helper-text-02');
}

.expandedContent {
  padding: layout.$spacing-05 0;
}

.expandedTile {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  align-items: center;
  padding: layout.$spacing-02;
  background-color: vars.$ui-02;
}

.expandedWhiteBgTile {
  background-color: vars.$ui-01;
}

.statusIcon {
  grid-column: 1;
  margin-right: layout.$spacing-05;
}

.nameSection {
  grid-column: 2;
}

.documentSection {
  grid-column: 3;
  margin-right: layout.$spacing-05;
}

.approvedIcon {
  fill: vars.$support-02;
}

.warningIcon {
  fill: vars.$carbon--red-50;
}
