@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

.container {
  padding: spacing.$spacing-05;
  height: calc(100vh - 200px);
  width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: spacing.$spacing-05;

  h4 {
    @include type.type-style('heading-compact-02');
  }
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tableContainer {
  margin-top: 2rem;
  padding: 1rem;
  overflow: auto;
  width: 100%;
  height: calc(100vh - 300px);
  border: solid 1px #e0e0e0;

  :global(.cds--data-table-container) {
    overflow: auto;
    width: 100%;
    position: relative;
  }

  :global(.cds--table-header-label) {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100px;
    text-align: left;
  }

  :global(.cds--data-table) {
    width: auto;
    min-width: 100%;
    position: relative;
  }

  :global(.cds--table-head) {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--cds-layer);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  :global(.cds--data-table td) {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :global(.cds--data-table--zebra tbody tr:nth-child(even)) {
    background-color: var(--cds-layer-hover);
  }
}
