@use '@carbon/layout';
@use '@carbon/type';

.container {
  max-width: 50rem;

  > * + * {
    margin-top: layout.$spacing-05;
  }
}

.greeting {
  text-transform: capitalize;
}

.tile {
  border: 1px solid lightgray;
  max-width: 15rem;
  @include type.type-style('heading-compact-01');
}
