@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.billingWrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background: colors.$white-0;
  margin: layout.$spacing-07 0;
}

/* Header Styles */
.headerWrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: colors.$white-0;
  border-bottom: 1px solid colors.$gray-20;
}

.headerContainer {
  width: 100%;
  background-color: colors.$white-0;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: layout.$spacing-05 layout.$spacing-05 layout.$spacing-05;
  background-color: colors.$white-0;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: layout.$spacing-03;
}

.iconContainer {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$gray-10;
  border-radius: 50%;
}

.location {
  @include type.type-style('body-compact-01');
  color: colors.$gray-70;
  margin: 0;
}

.billingTitle {
  @include type.type-style('heading-03');
  color: colors.$gray-100;
  margin: 0;
}

.rightSection {
  display: flex;
  align-items: center;
}

/* Metrics Styles */
.metricsContainer {
  padding: layout.$spacing-05;
  background-color: colors.$white-0;
  border-bottom: 1px solid colors.$gray-20;
}

.metricsCards {
  display: flex;
  gap: layout.$spacing-05;
  flex-wrap: wrap;
}

.metricCard {
  background-color: colors.$white-0;
  border: 1px solid colors.$gray-20;
  border-radius: 4px;
  padding: layout.$spacing-05;
  min-width: 200px;
  flex: 1;
  
  &:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}

.metricTitle {
  @include type.type-style('heading-compact-01');
  color: colors.$gray-70;
  margin-bottom: layout.$spacing-03;
  margin-top: 0;
}

.metricValue {
  @include type.type-style('heading-04');
  color: colors.$gray-100;
  font-weight: 600;
  margin: 0;
}

/* Radio Navigation Styles */
.radioNavigationContainer {
  padding: layout.$spacing-05;
  border-bottom: 1px solid colors.$gray-20;
  background-color: colors.$white-0;
}

/* Content Area Styles */
.content {
  padding: layout.$spacing-05;
  width: 100%;
}

/* Custom Header Styles (replacing CardHeader) */
.customHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: layout.$spacing-05;
  border-bottom: 1px solid colors.$gray-20;
  background-color: colors.$white-0;
}

.customHeaderTitle {
  @include type.type-style('heading-compact-02');
  color: colors.$gray-100;
  margin: 0;
  
  &:after {
    content: '';
    display: block;
    width: layout.$spacing-07;
    padding-top: 3px;
    margin-top: 3px;
    border-bottom: 0.375rem solid;
    border-bottom-color: colors.$blue-60;
  }
}

/* Bill History Table Styles */
.billHistoryContainer {
  background-color: colors.$white-0;
  border: 1px solid colors.$gray-20;
  border-bottom: none;
  width: 100%;
  margin: 0 auto;
  max-width: 95vw;
  padding-bottom: 0;
}

.table {
  width: 100%;
  table-layout: fixed; // This helps with uniform column sizing
  border-collapse: collapse;
}

.tableCells {
  white-space: normal !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  overflow: hidden;

  &:global(.cds--pagination) {
    border-top: none;
  }
}

.hiddenRow {
  display: none;
}

.expandedRow > td > div {
  max-height: max-content !important;
  padding: layout.$spacing-05;
}

.desktopHeading {
  text-align: left;
  text-transform: capitalize;

  h4 {
    @include type.type-style('heading-compact-02');
    color: colors.$gray-70;

    &:after {
      content: '';
      display: block;
      width: layout.$spacing-07;
      padding-top: 3px;
      border-bottom: 0.375rem solid;
      border-bottom-color: colors.$blue-60;
    }
  }
}
