@use '@carbon/layout';
@use '@carbon/type';

.billingWrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.scrollableContent {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: layout.$spacing-05;
}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background: white;
}

.content {
  padding: layout.$spacing-05;
  width: 100%;
}
.billHeaderCardsContainer {
  margin-top: layout.$spacing-05;
}

.adminContent {
  width: 100%;
  padding: 1rem;
}