@use '@carbon/layout';
@use '@carbon/type';

.billingWrapper {
  width: 85vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.scrollableContent {
  flex: 1;
  overflow: auto;
  padding: layout.$spacing-05;
}
.container {
  width: 100%;
  overflow-y: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}

.content {
  padding: layout.$spacing-05;
  width: 100%;
}
.billHeaderCardsContainer {
  margin-top: layout.$spacing-05;
}

.adminContent {
  width: 100%;
  padding: 1rem;
}