@use '@carbon/layout';
@use '@carbon/type';

.billingWrapper {
  width: 100%;
  padding: layout.$spacing-03;
}
.container {
  width: 100%;
  overflow-y: auto;
  position: relative;
}

.content {
  padding: layout.$spacing-05;
  width: 100%;
}
.billHeaderCardsContainer {
  margin-top: layout.$spacing-05;
}