@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

.container {
  padding: spacing.$spacing-07;
}

.welcome {
  @include type.type-style('heading-04');
  margin: spacing.$spacing-05 0; 
}

.explainer {
  margin-bottom: 2rem;
}
