@use '@carbon/layout';
@use '@carbon/type';

.container {
  padding: layout.$spacing-07;
}

.welcome {
  @include type.type-style('heading-04');
  margin: layout.$spacing-05 0;
}

.explainer {
  margin-bottom: layout.$spacing-07;
}
